{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'inventory_module/styles.css' %}">
    <title>Device List</title>
</head>
<body>
    <h1>Device List</h1>
    <table border="1">
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Color</th>
            <th>Price</th>
            <th>Display Size</th>
            <th>In Stock</th>
        </tr>
        {% for device in devices %}
        <tr>
            <td>{{ device.brand.name }}</td>
            <td>{{ device.model }}</td>
            <td>{{ device.color }}</td>
            <td>{{ device.price }}</td>
            <td>{{ device.display_size }}</td>
            <td>{{ device.in_stock|yesno:"Yes,No" }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
